#app {
    display: flex;
}

aside {
    width: 200px;
    height: 100vh;
    background-color: #808595;

    .slogn {
        margin-top: 20px;
        width: 100%;
        display: flex;
        justify-content: center;
        img {
            width: 80%;
        }
    }
    > div >ul {
        width: 100%;

        > li {
            width: 100%;
            height: 40px;
            justify-content: center;
            display: flex;
            align-items: center;

            a {
                color: white;
            }
            &:hover{
                background-color: #555555;
            }

        }
    }
}

main {
    padding: 20px;
    box-sizing: border-box;
    width: calc(100% - 200px);
    height: 100vh;
    background-color: white;

    .user_info {
        width: 100%;
        display: flex;
        background-color: #808595;
        border-radius: 5px;

        .left{
            width: 20%;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                width: 100px;
                border-radius: 50%;
            }
        }

        .right {
            width: 50%;
            display: flex;
            flex-wrap: wrap;

            .item {
                width: 50%;
                height: 40px;
                display: flex;
                align-items: center;

            }

        }
    }

    .actions {
        width: 100%;
        height: 60px;
        border-radius: 5px;
        margin-top: 20px;
        background-color: #808595;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .collection_article_all{
        border-radius: 5px;
        margin-top: 20px;
        background-color: #808595;

        p {
            text-align: center;
            padding-top: 10px;
            font-size: 18px;
        }

        .article_list {
            margin-top: 10px;
            width: 100%;
            display: flex;
            flex-wrap: wrap;

            .item {
                box-sizing: border-box;
                width: 33%;
                display: flex;
                padding: 20px;

                .left{
                    width: 30%;

                    img{
                        width: 100%;
                    }
                }

                .right{
                    width: 70%;
                    box-sizing: border-box;
                    padding-left: 10px;

                    p {
                        display: -webkit-box;
                        overflow: hidden;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                    }
                }
            }
        }
    }
}