<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台界面</title>
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/backend/backend_base.css">
    <link rel="stylesheet" href="/static/css/element.css">
    {% block css %}
    {% endblock %}
</head>
<body>
    <div id="app">
        <aside>
            <div class="slogn">
                <img src="/static/jpg/github.png" alt="">
            </div>
            <div>
                <ul>
                    <li><a href="/">首页</a></li>
                    <li><a href="/backend/">个人中心</a></li>
                    <li><a href="/backend/edit_avatar/">修改头像</a></li>
                    <li><a href="/backend/reset_password/">修改密码</a></li>
                    {% if request.user.is_superuser %}
                    <li><a href="/backend/add_article/">添加文章</a></li>
                    {% endif %}
                    <li><a href="/logout/">注销退出</a></li>
                </ul>
            </div>
        </aside>
        <main>
            {% csrf_token %}
            {% block main %}
            <div class="user_info">
                <div class="left">
                    <img src="/static/jpg/github.png" alt="">
                </div>
                <div class="right">
                    <div class="item">
                        <span><b>用户名:</b>willow</span>
                    </div>
                    <div class="item">
                        <span><b>注册时间:</b>willow</span>
                    </div>
                    <div class="item">
                        <span><b>上次登陆时间:</b>willow</span>
                    </div>
                    <div class="item">
                        <span><b>积分:</b>willow</span>
                    </div>
                    <div class="item">
                        <span><b>邮箱:</b>willow</span>
                    </div>
                    <div class="item">
                        <span><b>手机号码:</b>willow</span>
                    </div>
                </div>
            </div>
            <div class="actions">
                <div class="item">
                    <el-button>默认按钮</el-button>
                </div>
                <div class="item">
                    <el-button type="success">修改头像</el-button>
                </div>
                <div class="item">
                    <el-button type="warning">修改密码</el-button>
                </div>
                <div class="item">
                    <el-button type="danger">注销推出</el-button>
                </div>
            </div>
            {% block content %}
            <div class="collection_article_all">
                <p>收藏文章</p>
                <div class="article_list">
                    <div class="item">
                        <div class="left">
                            <img src="" alt="">
                        </div>
                        <div class="right">
                            <h4>df</h4>
                            <p>fdsssssssssssssssafasdfffasdfwfsdf</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endblock %}
            {% endblock %}
        </main>
    </div>
    <script src="/static/js/axios.js"></script>
    <script src="/static/js/vue.js"></script>
    <script src="/static/js/element.js"></script>
    {% block js %}
    {% endblock %}
    <script>
        axios.interceptors.request.use(
            request => {
                if (request.method === 'post') {
                    let csrftoken = document.querySelector('input[name="csrfmiddlewaretoken"]').value
                    request.headers['X-CSRFToken'] = csrftoken
                }
                return request
            },
        )

        axios.interceptors.response.use(
            response => {
                return response.data
            }
        )
        new Vue({
            el: '#app',
            data:{
                //是否展开添加文章的侧边栏
                add_drawer:false,

                //选中的
                add_article_activeNames: ['1'],
                //文章分类的id
                category_id: '',
                //文章分类
                category_options: [
                   {value: 1, label:'前端'},
                   {value: 2, label:'后端'},
                   {value: 3, label:'项目相关'},
                   {value: 4, label:'嵌入式'},
                   {value: 5, label:'python库'},
                   {value: 6, label:'摸鱼'},
                ],
                //选中的文章标签
                tags: [],
                //是否上推荐
                recommend: true,
                //是否需要密码查看
                pwd_active: false,
                //文章密码
                pwd: '',
                //文章封面id
                cover_id: '',
                //文章标题
                title: '',
                //文章简介
                abstract:'',
            },
            created(){
                let img = document.getElementById('cover_img')
                let cover_list = eval(img.getAttribute('data'))
                let item = cover_list[Math.floor(Math.random()*cover_list.length)]
                img.setAttribute('src', item.url)
                this.cover_id = item.nid.toString()
            },
            methods:{
                add_handleClose(done) {
                    done()
                    /*this.$confirm('确认关闭？')
                      .then(_ => {
                        done();
                      })
                      .catch(_ => {});
                      添加文章侧边栏关闭之前的函数*/
                },
                orderNoChange(){
                    this.$forceUpdate();
                }, 
                //添加文章的函数
                add_article(e) {
                    let data = {
                        title: this.title,
                        cover_id: this.cover_id,
                        pwd: this.pwd,
                        recommend: this.recommend,
                        tags: this.tags,
                        category: this.category_id,
                        abstract: this.abstract,
                        content: editor.querySelector('.editormd-markdown-textarea').value
                    }
                    console.log(data)
                    axios.post('/api/article/', data).then(res => {
                        if (res.code) {
                            this.$message.errors(res.msg)
                            return
                        }
                        this.$message.success(res.msg)
                        setTimeout(() => {
                            location.href = '/article/'+res.data+'/'
                        }, 1000)
                    })
                },
                select_cover(val) {
                    setTimeout(() => {
                        let v = document.querySelector('.article_cover input').value
                        let cover = document.getElementById('cover_img')
                        cover.src = v
                    }, 1)
                }

            }
        })
    </script>
</body>
</html>